body,html,div,img,p,span{
	margin: 0 0;
	padding: 0 0;
}
body{
	background: #333;
}
.main{
	width: 980px;
	height: 1386px;
    top:50px;
    left: 0;
    right: 0;
    bottom: 50px;
    background: white;
    margin: 50px auto 50px auto;
}
.contain{
	width: 892px;
	margin: 0 auto;
}
.div1{
	height:61px;
	border-bottom: 2px solid #938e8c;
}
.redblock{
	width: 110px;
	height: 61px;
	float:left;
	background-color: #CC3333;
	
}
.redblock p{
  
    margin-top: 38px; 
     color: white; 
     font-size: 12px; 
    float: left; 
    padding: 5px; 
}
.div1 time{
	font-size: 12px; 
     color: #d45d5c; 
     margin-top: 48px; 
     float: right;
    font-family: "Heiti"；
}
.div2{
	height: 301px;
	margin-top: 30px;
}
#left1{
	width: 641px;
	height: 301px;
	background: url(../pictures/banner.png);
	float: left;
}
#leftpicture{
	width: 191px;
	height: 301px;
	background: rgba(100,150,52,0.5);
	float: left;
}
#rightpicture{
	width: 191px;
	height: 301px;
	background: rgba(250,180,197,0.5);
	float: right;
}
#right1{
	width: 203px;
	height: 301px;
	border-top: 2px solid #cc8091;
	float: right;
}
.word1{
	display: block;
	width: 33%;
	
	font-family: "微软雅黑";
	font-size: 18px;
	color: #000;
	border-bottom: 2px solid #000;
}
.word2{
	display: block;
	width: 62%;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #000;
	border-bottom: 2px solid #000;
}
#right1 span{
	font-size: 24px;
}
.word3{
	font-size: 116px;
	color: #75b86b;
	font-family: "Arial";
	font-style: oblique;
	
}
.word4{
	font-size: 55px;
	color: #cc8091;
	font-family: "微软雅黑";
    float: left;
    padding-bottom: 0;
}
.word5{
	font-size: 21px;
	font-family: "微软雅黑";
	color:#cc8091;
	float: left;
}
.word6{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #cc8091;
	float: left;
}
.div3{
	width: 30%;
	float:left;
}
.what{
	font-size: 16px;
	color: #418c59;
	font-family: "微软雅黑";
}
.word7{
	font-size: 12px;
	color:#767777;
	font-family: "Songti";
	margin-top: 5px;
}
.div4{
	width: 30%;
	float:left;
	margin-left: 16px;
}
.when{
	font-size: 16px;
	color: #d2994f;
	font-family: "微软雅黑";
}
.how{
	font-size: 16px;
	color: #cc7680;
	font-family: "微软雅黑";
}
.word8{
	font-size: 12px;
	font-family: "微软雅黑"；
	color：#231815;
	opacity: 0.7;
}
.span1{
	font-size: 12px;
	font-family: "微软雅黑"；
	opacity:0.7;
	font-style: italic;
	color: #cd4a48;
}
#left2{
	width: 415px;
    margin-top: 50px;
    float: left;
}
.word9{
	font-family: "黑体";
	font-size: 72px;
    font-style:oblique;
    color: #f5e327;
}
.word10{
	font-family: "黑体";
	font-size: 42px;
	color: #11456b;
}
.word11{
	font-family: "黑体";
	font-size: 33px;
	color: #11456b;
}
.word12{
	font-size:70px;
	color:#f5e327;
	font-family:"微软雅黑";
}
.img1{
	float:right;
	clear: right;
}
.right2{
	width: 458px;
	float: right;
	margin-top: 50px;
}
.img2{
	height: 275px;
	background: url(../pictures/we.png);
}
.img3{
	width: 458px;
	height: 61px;
	background: rgba(0,0,0,0.4);
	margin-top: 214px;
    float: left;/*为什么不加这一句，阴影就不会下来？*/
}

.div5{
    padding-left:10px; 
	height: 44px;
	width:300px;
	border-left: 3px solid #72b16a;
	margin-left: 40px;
	line-height: 44px;
	margin-top: 8.5px;
}
.word13{
	font-size: 26px;
	color: #fff;
	font-family: "微软雅黑";
}
.word14{
	font-family: "微软雅黑";
	font-size: 12px;
	font-style: oblique;
	color: #72b16a;
}
.img4{
	width: 459px;
	height: 318px;
	background:  #EAF1CF;
	margin-top: 20px;
}
.ul1{
	margin-top: 20px; 
	position: absolute;
}
.ul1 li{
	font-size: 16px;
	width: 459px;
	font-family: "Songti";
	margin-top: 20px;
}
.img5{
	width: 260px;
	height: 160px;
	float: left;
	margin-top: 158px;
	background:#D55D5C; 
}
.numleft{
	padding: 0 8px;/*为什么还是padding好高*/
	float: left;
	font-size: 110px;
	margin-top: 5px;
	color: #fff;
    vertical-align: middle;
	font-family: "微软雅黑";
}
.numright{
	height: 86px;
	border-left: 2px solid #fff;
	float: left;
	padding-left: 8px;
	margin-top: 35px;
}
.word15{
	font-size: 21px;
	font-family: "黑体";
	color: #fff;
	font-style: oblique;
}
.word16{
	font-size: 12px;
	font-family: "黑体";
	color: #fff;
}
.final{
	float: left;
	width: 150px;
	position: relative;
	/*top: 500px;*//*为啥没用？*/
	margin-top: 160px;

	height: 150px;
}
.q1{
	font-size: 72px;
	font-family: "黑体";
	color: #d45d5c;	
    margin-left: -20px;
    position: absolute;
}
.q2{
    font-size: 72px;
	font-family: "黑体";
	color: #d45d5c;	
	margin-top: -20px;
    margin-right: -70px;
    float: right;
}
.qword{
	font-size: 14px;
	font-family: "黑体";
	color: #5a5b5b;
	font-style: oblique;
    margin-top:20px;
    margin-left:20px; 
}
.jiewei{
	border-top: 1px solid #938e8c;
	width: 892px;
	clear: both;
	margin-top: 35px;
	float: left;
}
.footer{
	 float: right;  
     font-family:"黑体"; 
     color: #d45d5c; 

}